/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('/img/fondo.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.carousel-item p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.logo {
    max-width: 6rem;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .header-container .logo {
    margin-right: auto;
}

nav {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #24176a;
    border-radius: 5px;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white; /* Color de las líneas del ícono */
    cursor: pointer;
}

.menu-btn:hover {
    color: lightgray; /* Cambia de color al hacer hover */
}

.menu-btn:focus {
    outline: none;
}

section {
    padding: 2rem;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form label, #contact form input, #contact form textarea {
    width: 100%;
    max-width: 500px;
    margin: 0.5rem 0;
}

#contact form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #7c7b7b;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-content p {
    margin: 0;
    font-size: 0.875rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #1e00cc;
}

.slider-box {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*==== Actividades ======*/
.activities-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.activity-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.activity-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.vertical {
    aspect-ratio: 4 / 4;
}

.horizontal {
    aspect-ratio: 12 / 6;
}

.activity-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.activity-link:hover .activity-title {
    opacity: 1;
}

.activity-name {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease;
}

.activity-link:hover .activity-name {
    opacity: 0;
}

/* Estilos específicos de la sección de Historia */
#history {
    margin: 2rem auto;
    max-width: 800px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    line-height: 1.8;
}

#history h2 {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fbfbfb; /* Color dorado para resaltar */
}

#history p {
  font-family: "Quicksand", sans-serif;
    text-align: justify;
    font-size: 1.1rem;
}

#history h3 {
    font-family: "Roboto", sans-serif;/* Aplicar fuente Quicksand a los h3 */
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #ffffff;
}
#history h4 {
    font-family: "Roboto", sans-serif;
    font-weight: normal; /* Elimina la negrita */
    font-size: 1.1rem; /* Tamaño de letra más pequeño */
    margin: 1rem 0;
    color: #ffffff;
}


.chapter-figure {
    margin: 1.5rem 0;
    text-align: center;
}

.chapter-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-caption {
    font-style: italic;
    color: #ddd;
    margin-top: 0.5rem;
}

/* ===== Fin de Estilos para Historia ===== */
/* Estilos generales para las instalaciones */
#instalaciones {
    padding: 20px;

}

#instalaciones h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
iframe{
    
    width: 600px;
    height: 480px;

}
.container-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}
#info{
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#instalaciones p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Contenedor de la galería */
.gallery_instalaciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    justify-content: center;
}

.instalaciones__pic {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.instalaciones__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.instalaciones__pic:hover .instalaciones__img {
    transform: scale(1.05); /* Efecto zoom al pasar el cursor */
}

.instalaciones__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 10px 10px;
}

.instalaciones__pic:hover .instalaciones__overlay {
    opacity: 1;
}

.hidden {
    display: none;
}

.deporte-selector button.active {
    background-color: #007bff;
    color: #fff;
}



/* Responsivo: ajusta el tamaño del mapa en pantallas más pequeñas */


/* Responsividad para elementos generales */
@media (max-width: 768px) {
    iframe{
       
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #info{
        position: relative;
        min-height: 100px;
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        display: none; /* Oculto por defecto en pantallas pequeñas */
    }

    .menu-btn {
        display: block; /* Mostrar el ícono de menú hamburguesa */
    }

    .menu-btn.active + .nav-list {
        display: flex; /* Mostrar el menú cuando se hace clic en el botón */
    }

    /* Ajustes para las imágenes del carrusel en pantallas pequeñas */
    .carousel-inner img {
        max-height: 300px; /* Limitar la altura de las imágenes en pantallas móviles */
        object-fit: cover; /* Para que las imágenes se ajusten sin deformarse */
    }
}

@media (max-width: 768px) {
    .hoteles__img {
        width: 100%;
        height: auto; /* Permite que las imágenes se mantengan completas sin recortarse */
    }
}

@media (max-width: 768px) {
    .gallery_instalaciones {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .instalaciones__overlay {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {

    .gallery_instalaciones {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
